<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>TODO-APP</title>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="logo-header">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
            </div><!--logo-header-->
                <h2>TODO APP</h2>
        </div><!--header--> 

        <div class="tasks">
            <div class="title">
                <h2>Tarefas <h4>Cadastrar</h4></h2>
            </div>
                <form method="POST">
                    <input type="text" name="task">
                    <input type="submit" name="acao" value="Inserir">
                </form>
            <div class="container-tasks">
                <% for(let i = 0; i < tasksList.length; i++){ %>
                    <p><%= tasksList[i]%><a href="/del/<%= i %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a></p>
                <% } %>    
            </div>
        </div>
    </div><!--main-->
</body>
</html>